/include/ "topic-miami.dtsi"
/include/ "topic-miami-florida-mio.dtsi"

/* Common components for ALL florida boards */

/* Ethernet PHY via EMIO. Logic contains a MII to RGMII conversion, so
the emac should see a MII interface */
&eth {
	status = "okay";
	phy-mode = "gmii";
	phy-handle = <&phy_ext>;
	gmii2rgmii-phy-handle = <&phy_fpga>;
	phy_ext: phy@3 {
		/* PHY on the board */
		reg = <0x3>;
		interrupt-parent = <&gpio>;
		interrupts = <65 0x8>; /* GPIO 65 (EMIO 11), IRQ_TYPE_LEVEL_LOW */
	};
	phy_fpga: phy@8 {
		/* Internal GMII to RGMII adapter PHY */
		reg = <0x8>;
	};
};
