/include/ "topic-miami.dtsi"

/ {
		/* Fake power supply that activates when the FPGA has been
		 * configured. */
		fpga_power: fpga_power@0 {
			compatible = "regulator-fpga";
			regulator-name = "FPGA power";
			regulator-always-on;
		};

		/* SD 1 for WiFi card */
		reg_sd1: regulator_sd1 {
			compatible = "regulator-fixed";
			regulator-name = "rsi-wifi";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&fpga_power>;
			gpio = <&gpio 62 0>; /* Connected to NRESET */
			enable-active-high;
			startup-delay-us = <25000>; /* Datasheet mentions 20ms */
		};

		/* Regulator for the 5V USB VBUS power line. This is connected
		 * to the second output of the GPIO expander. */
		reg_usb0_vbus: regulator_usb {
			compatible = "regulator-fixed";
			regulator-name = "usb0-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpioexf 1 0>;
			enable-active-high;
			regulator-boot-on;
			regulator-always-on;
		};
};

/* I2C bus layout */
&ps7_i2c_0 {
	i2cswitch@70 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		i2c@0 {
			/* HDMI OUT */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>;

				adi,input-style = <0x02>;
				adi,input-id = <0x01>;
				adi,input-color-depth = <0x3>;
				adi,sync-pulse = <0x03>;
				adi,bit-justification = <0x01>;
				adi,up-conversion = <0x00>;
				adi,timing-generation-sequence = <0x00>;
				adi,vsync-polarity = <0x02>;
				adi,hsync-polarity = <0x02>;
				adi,tdms-clock-inversion;
				adi,clock-delay = <0x03>;
			};
			/* Clock generator. Currently on the GEN bus where it has
			 * an address conflict with the ltc2943 */
			clockgen: cdce925pw@64 {
				compatible = "cdce925pw";
				reg = <0x64>;
			};
		};
		i2c@1 {
			/* HDMI O - Connects directly to HDMI connector */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		i2c@2 {
			/* GEN */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			/* GPIO expander */
			gpioexf: pca953x@20 {
				compatible = "nxp,pca9534";
				reg = <0x20>;
				/* 0=USB_OTG_OC_N 1=USB_OTG_EN_N 2=n.c. ...*/
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
			};
			/* Touch */
			touch: ad7879@2f {
				compatible = "ad7879";
				reg = <0x2F>;
				interrupt-parent = <&gpio>;
				interrupts = <64 0x2>; /* GPIO 64 (EMIO 10), falling edge */
				adi,x-plate-ohms = /bits/ 16 <620>;
				adi,pressure-min = /bits/ 16 <0>;
				adi,pressure-max = /bits/ 16 <10000>;
				adi,x-min = /bits/ 16 <0>;
				adi,x-max = /bits/ 16 <1024>;
				adi,y-min = /bits/ 16 <0>;
				adi,y.max = /bits/ 16 <600>;
				adi,pen-down-acquisition-interval = /bits/ 8 <255>; /* 9.4 ms */
			};
			/* Battery gauge */
			fuelgauge: ltc2943@64 {
				compatible = "ltc2943", "ltc2941";
				reg = <0x64>;
				rSense = <15>; /* mOhm */
				PrescalerExponent = <5>; /* 2^x */
			};
		};
		i2c@3 {
			/* HDMI IN */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			/* copied from zynq-zed-imageon.dts */
			adv7611@4c {
				compatible = "adi,adv7611";
				reg = <0x4c>;
				/* endpoint todo...
				port {
					adv7611: endpoint {
						bus-width = <16>;
						remote-endpoint = <&axi_hdmi_rx>;
					};
				};
				*/
			};
		};
	};
};

&fpga_axi {

		fmc_spi: spi@e0006000 {
			bus-num = <1>;
			compatible = "cdns,spi-r1p6";
			interrupt-parent = <&gic>;
			interrupts = <0 26 4>;
			clock-names = "ref_clk", "pclk";
			clocks = <&clkc 25>, <&clkc 34>;
			num-cs = <4>;
			reg = <0xe0006000 0x1000>;
			speed-hz = <100000000>;
			xlnx,has-ss0 = <0x1>;
			xlnx,has-ss1 = <0x1>;
			xlnx,has-ss2 = <0x1>;
			xlnx,spi-clk-freq-hz = <172000000>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* TI medical ADC */
			ads1298_0: ads1298@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "ads1298";
				/* SPI Setup */
				reg = <0>;
				spi-cpha;
				spi-max-frequency = <2048000>;
				/* GPIO Setup */
				clksel-gpio = <&gpio 57 0>;
				/* drdy-gpio = <&gpio 12 0>; */
				pwdn-gpio = <&gpio 55 0>;
				reset-gpio = <&gpio 54 0>;
				start-gpio = <&gpio 56 0>;
				rdy-irq {
					interrupt-parent = <&gic>;
					interrupts = <0 56 0x1>;
				};
			};

			/* TI medical ADC */
			ads1298_1: ads1298@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "ads1298";
				/* SPI Setup */
				reg = <1>;
				spi-cpha;
				spi-max-frequency = <2048000>;
			};
		};

		/* SDIO via EMIO to a Wifi card */

		sdhci1: sdhci@e0101000 {
			compatible = "arasan,sdhci-8.9a";
			reg = <0xe0101000 0x1000>;
			interrupts = <0 47 4>;
			interrupt-parent = <&gic>;
			clock-names = "clk_xin", "clk_ahb";
			clocks = <&clkc 22>, <&clkc 33>;
			disable-wp;
			broken-cd;
			non-removable;
			vmmc-supply = <&reg_sd1>;
			bus-width = <4>;
			cap-power-off-card;
			/* Max clock is 25MHz when using EMIO */
			max-frequency = <25000000>;
		};

		/* FPGA IP blocks */

		axi_vdma_0: axivdma@43000000 {
			compatible = "xlnx,axi-vdma";
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			#dma-channels = <1>;
			reg = <0x43000000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,num-fstores = <0x3>;
			dma-channel@43000000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 59 0x4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 17>;
		};

		axi_hdmi_0: axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			encoder-slave = <&adv7511>;
			dmas = <&axi_vdma_0 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
		};

		axi_spdif_tx_0: axi-spdif-tx@0x75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&ps7_dma 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>, <&audio_clock>;
			clock-names = "axi", "ref", "spdif";
		};

		adv7511_hdmi_snd: adv7511_hdmi_snd {
			compatible = "adv7511-hdmi-snd";
			audio-codec = <&adv7511>;
			cpu-dai = <&axi_spdif_tx_0>;
		};

		axi_vdma_1: axivdma@43010000 {
			compatible = "xlnx,axi-vdma";
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			#dma-channels = <1>;
			reg = <0x43010000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,num-fstores = <0x3>;
			dma-channel@43000000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 55 0x4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		axi_vdma_vga: axi_vdma_vga@7e000000 {
			compatible = "topic,vdma-fb";
			reg = <0x7e000000 0x10000>;
			dmas = <&axi_vdma_1 0>;
			dma-names = "video";
			width = <1024>;
			height = <600>;
			horizontal-sync = <136>;
			horizontal-front-porch = <24>;
			horizontal-back-porch = <160>;
			horizontal-polarity = <0>;
			vertical-sync = <8>;
			vertical-front-porch = <4>;
			vertical-back-porch = <23>;
			vertical-polarity = <0>;
		};
};

/* Ethernet PHY via EMIO. Logic contains a MII to RGMII conversion, so
the emac should see a MII interface */
&eth {
	status = "okay";
	phy-mode = "gmii"; /* [r|s][g]mii[-id] ? */
	phy-handle = <&phy1>;
	phy1: phy@1 {
		/* compatible = "micrel,..."; */
		device_type = "ethernet-phy";
		reg = <0x1>;
	};
};

