/* Periferals on the florida-test board. Can be combined with miami and miamiplus */

/* No ethernet on this board */
&eth {
	status = "disabled";
};


/ {
	/* Regulator for the 5V USB VBUS power line. This is connected
	 * to the second output of the GPIO expander. */
	reg_usb0_vbus: regulator_usb {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpioexf 1 0>;
		enable-active-high;
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		power {
			label = "power";
			gpios = <&gpioexf 2 1>; /* Input 2, active low */
			linux,code = <116>; /* KEY_POWER */
			gpio-key,wakeup;
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpioexf 5 1>; /* Output 5, active low */
		input;
	};
};

/* I2C bus layout */
&i2c0 {
	/* GPIO expander 3v3 */
	gpioexf: pca953x@20 {
		compatible = "nxp,pca9534";
		reg = <0x20>;
		/* 0=USB_OTG_OC_N 1=USB_OTG_EN_N 2=n.c. ...*/
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		/* IRQ line connected to MIO 46 */
		interrupt-parent = <&gpio0>;
		interrupts = <46 0x8>; /* GPIO 46, IRQ_TYPE_LEVEL_LOW */
	};

	/* Programmable clock, to clock-capable pins on FPGA */
	si514c: si514@carrier {
		reg = <0x55>;
		#clock-cells = <0>;
		compatible = "silabs,si514";
		clock-output-names = "si514carrier";
	};

	/* GPIO expanders 1v8 */
	gpiotst1: pca953x@21 {
		compatible = "nxp,pca9534";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	gpiotst2: pca953x@22 {
		compatible = "nxp,pca9534";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	gpiotst3: pca953x@23 {
		compatible = "nxp,pca9534";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

/* USB connected through MIO and GPIO expander */
&usb0 {
	status = "okay";
	vbus-supply = <&reg_usb0_vbus>;
	dr_mode = "otg";
	/* USB reset connected to output 0 of expander */
	xlnx,phy-reset-gpio = <&gpioex 0 0>;
	xlnx,phy-reset-gpio-tristate;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
};

&pinctrl0 {
	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO29", "MIO31", "MIO36";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO28", "MIO30", "MIO32", "MIO33", "MIO34",
			       "MIO35", "MIO37", "MIO38", "MIO39";
			bias-disable;
		};
	};
};
