/include/ "zynq.dtsi"

/ {
	model = "Topic Zynq Miami";

	/* Arrange that UART0 is ttyPS0 */
	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
	};

	memory {
		device_type = "memory";
		reg = <0x000000000 0x20000000>;
	};

	chosen {
		/* Boot using squashfs system, nice for QSPI NOR flash */
		bootargs = "console=ttyPS0,115200 root=/dev/mtdblock5 ro rootfstype=squashfs rootwait quiet";
		/* bootargs = "console=ttyPS0,115200 ubi.mtd=qspi-rootfs root=ubi0:qspi-rootfs rw rootfstype=ubifs rootwait"; */
		linux,stdout-path = "/fpga_axi@0/uart@e0000000";
	};

	/* Represents the 3v3 supply on the Miami SOM. */
	reg_3v3_miami: regulator_3v3_miami {
		compatible = "regulator-fixed";
		regulator-name = "3v3-miami";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&sdhci0 {
	disable-wp; /* We don't have a write-protect detection */
};

&primary_flash {
	/* Specify flash chip to expect */
	compatible = "n25q256a11";
	/* Max frequency for quad read is 108MHz according to data sheet */
	spi-max-frequency = <108000000>;
	/* Flash chip is 32MB, so add 16MB to the rootfs partition */
	partition@qspi-rootfs {
		label = "qspi-rootfs";
		reg = <0x480000 0x1b80000>;
	};
	/* Everything? */
	partition@qspi-all {
		label = "qspi-all";
		reg = <0x0 0x2000000>;
	};
};

/ {
	fpga_axi: fpga_axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		ps7_i2c_0: ps7-i2c@e0004000 {
			bus-id = <0>;
			clocks = <&clkc 38>;
			compatible = "cdns,i2c-r1p10";
			clock-frequency = <400000>;
			interrupt-parent = <&gic>;
			interrupts = <0 25 4>;
			reg = <0xe0004000 0x1000>;
			xlnx,has-interrupt = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		ps7_i2c_1: ps7-i2c@e0005000 {
			clock-frequency = <400000>;
			clocks = <&clkc 39>;
			compatible = "cdns,i2c-r1p10";
			interrupt-parent = <&gic>;
			interrupts = <0 48 4>;
			reg = <0xe0005000 0x1000>;
			xlnx,has-interrupt = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* AD converter for voltage monitoring */
			monitorvolt: ad799x@29 {
				compatible = "ad7999";
				reg = <0x29>;
				vcc-supply = <&reg_3v3_miami>;
				vref-supply = <&reg_3v3_miami>;
			};
			/* GPIO expander */
			gpioex: pca953x@41 {
				compatible = "nxp,pca9536";
				reg = <0x41>;
				/* 0=USB_RESET 1=VTT_SHDWN_N 2=V_PRESENT 3=DEBUG_PRESENT */
				gpio-controller;
				#gpio-cells = <2>;
			};
			/* Current monitoring chip */
			monitorcurrent: ltc2990@4C {
				compatible = "ltc2990";
				reg = <0x4C>;
			};
			/* EEPROM */
			eeprom: eeprom@50 {
				compatible = "at24,24c04";
				reg = <0x50>;
			};
			/* IO Voltage controller */
			ltc3562: ltc3562@65 {
				compatible = "lltc,ltc3562";
				reg = <0x65>; /* 0b1100101 */
				regulators {
					R400B_reg: R400B {
						/* Supplies VCCO2 to bank 34 */
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
						regulator-boot-on;
						regulator-always-on;
						lltc,operating-mode = <1>;
					};
					R600B_reg: R600B {
						/* Supplies VCCO0 to Bank 13 */
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-boot-on;
						regulator-always-on;
					};
					/* R400A Not connected */
					R600A_reg: R600A {
						/* Supplies VCCO1 to bank 35 */
						/* We actually want 1v8, but the wiring of
						 * the regulator is weird so you can only get
						 * 1768mV */
						regulator-min-microvolt = <1768000>;
						regulator-max-microvolt = <1768000>;
						lltc,fb-voltage-divider = <316 100>;
						regulator-boot-on;
						regulator-always-on;
					};
				};
			};
		};
	};

	leds: leds {
		compatible = "gpio-leds";
		alive {
			label = "alive:green";
			gpios = <&gpio 25 0>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&uart0 {
	status = "okay";
};

&eth {
	status = "disabled";
};

&usb {
	status = "disabled";
};
