/dts-v1/;

/include/ "zynq-zed.dtsi"

/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		i2c0: i2c@0 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xe0004000 0x1000>;
			interrupts = <0 25 4>;
			interrupt-parent = <&gic>;
			bus-id = <0>;
			input-clk = <111111111>;
			i2c-clk = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;

			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>;

				adi,input-style = <0x02>;
				adi,input-id = <0x01>;
				adi,input-color-depth = <0x3>;
				adi,sync-pulse = <0x03>;
				adi,bit-justification = <0x01>;
				adi,up-conversion = <0x00>;
				adi,timing-generation-sequence = <0x00>;
				adi,vsync-polarity = <0x02>;
				adi,hsync-polarity = <0x02>;
				adi,tdms-clock-inversion;
				adi,clock-delay = <0x03>;
			};

			adau1761: adau1761@3b {
				compatible = "adi,adau1761";
				reg = <0x3b>;
			};
		};

		axi_dma_0: axidma@40400000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			compatible = "xlnx,axi-dma";
			reg = < 0x40400000 0x1000 >;
			xlnx,sg-include-stscntrl-strm = <0x0>;
			dma-channel@40400000 {
				compatible = "xlnx,axi-dma-mm2s-channel";
				interrupts = < 0 58 0x4 >;
				xlnx,datawidth = <0x20>;
				xlnx,include-dre = <0x0>;
			};
		};

		axi_spdif_tx_0: axi-spdif-tx@0x75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = < 0x75c00000 0x1000 >;
			clock-frequency = <12288000>;
		};

		axi_vdma_0: axivdma@43000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			compatible = "xlnx,axi-vdma";
			reg = <0x43000000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,num-fstores = <0x3>;
			dma-channel@7e200000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 59 0x4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		fpga_clock: fpga_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency  = <200000000>;
		};

		hdmi_clock: axi-clkgen@66000000 {
			compatible = "adi,axi-clkgen-1.00.a";
			reg = <0x66000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&fpga_clock>;
		};

		axi_hdmi@6c000000 {
			compatible = "adi,axi-hdmi-1.00.a";
			reg = <0x6c000000 0x10000>;
			encoder-slave = <&adv7511>;
			dma-request = <&axi_vdma_0 0>;
			clocks = <&hdmi_clock>;
		};

		xilinx_pcm_audio: xilinx_pcm_audio {
			compatible = "xilinx-pcm-audio";
			#size-cells = <0>;
			#address-cells = <1>;
			stream@0 {
				reg = <0>;
				dma-request = <&axi_dma_0 0>;
			};
		};

		adv7511_hdmi_snd: adv7511_hdmi_snd {
			compatible = "adv7511-hdmi-snd";
			audio-codec-adapter = <&i2c0>;
			cpu-dai = <&axi_spdif_tx_0>;
			pcm = <&xilinx_pcm_audio>;
		};

		axi_dma_i2s: axidma@40410000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			compatible = "xlnx,axi-dma";
			reg = < 0x40410000 0x1000 >;
			xlnx,sg-include-stscntrl-strm = <0x0>;
			dma-channel@40410000 {
				compatible = "xlnx,axi-dma-mm2s-channel";
				interrupts = < 0 55 0x4 >;
				xlnx,datawidth = <0x20>;
				xlnx,include-dre = <0x0>;
			};
			dma-channel@40410030 {
				compatible = "xlnx,axi-dma-s2mm-channel";
				interrupts = < 0 56 0x4 >;
				xlnx,datawidth = <0x20>;
				xlnx,include-dre = <0x0>;
			};
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency  = <12288000>;
		};

		axi_i2s_0: axi-i2s@0x77600000 {
			compatible = "adi,axi-i2s-1.00.a";
			reg = < 0x77600000 0x1000 >;
			clocks = <&audio_clock>;
		};

		xilinx_pcm_audio_i2s: xilinx_pcm_audio_i2s {
			compatible = "xilinx-pcm-audio";
			#size-cells = <0>;
			#address-cells = <1>;

			stream@0 {
				reg = <0>;
				dma-request = <&axi_dma_i2s 0>;
			};
			stream@1 {
				reg = <1>;
				dma-request = <&axi_dma_i2s 1>;
			};
		};

		zed_adau1761_snd: zed_adau1761_snd {
			compatible = "zed-adau1761-snd";
			audio-codec = <&adau1761>;
			cpu-dai = <&axi_i2s_0>;
			pcm = <&xilinx_pcm_audio_i2s>;
		};

		leds {
			compatible = "gpio-leds";
			ld9 {
				label = "ld9";
				gpios = <&gpio 7 0>;
				linux,default-trigger = "heartbeat";
			};
		};

		gpio_keys {
			compatible = "gpio-keys";
			#address-cells = <1>;
			#size-cells = <0>;
			autorepeat;
			btn8 {
				label = "PB1";
				linux,code = <28>; // Enter
				gpios = <&gpio 50 0>;
			};
			btn9 {
				label = "PB2";
				linux,code = <1>; // ESC
				gpios = <&gpio 51 0>;
			};
			btnc {
				label = "BTNC";
				linux,code = <76>; // Numeric 5
				gpios = <&gpio 54 0>;
			};
			btnd {
				label = "BTND";
				linux,code = <80>; // DOWN 2
				gpios = <&gpio 61 0>;
			};
			btnl {
				label = "BTNL";
				linux,code = <75>; // LEFT 4
				gpios = <&gpio 62 0>;
			};
			btnr {
				label = "BTNR";
				linux,code = <77>; // RT ARROW 6
				gpios = <&gpio 63 0>;
			};
			btnu {
				label = "BTNU";
				linux,code = <72>; // UP 8
				gpios = <&gpio 64 0>;
			};
		};

		zed_oled {
			compatible = "dglnt,pmodoled-gpio";
			/* GPIO Pins */
			vbat-gpio = <&gpio 55 0>;
			vdd-gpio = <&gpio 56 0>;
			res-gpio = <&gpio 57 0>;
			dc-gpio = <&gpio 58 0>;
			/* SPI-GPIOs */
			spi-bus-num = <2>;
			spi-sclk-gpio = <&gpio 59 0>;
			spi-sdin-gpio = <&gpio 60 0>;
		};

	};
};
