/include/ "zynq.dtsi"

/ {
	model = "Topic Zynq Miami";
	memory {
		device_type = "memory";
		reg = <0x000000000 0x20000000>;
	};

	chosen {
		/* bootargs = "console=ttyPS0,115200 ubi.mtd=qspi-rootfs root=ubi0:qspi-rootfs rw rootfstype=ubifs rootwait"; */
		/* Flash support not ready yet, so default to rootfs on SD first */
		bootargs = "console=ttyPS0,115200 root=/dev/mmcblk0p2 rw rootfstype=ext4 rootwait";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};
};

&qspi0 {
	xlnx,fb-clk = <0x0>;
};

&sdhci0 {
	disable-wp; /* We don't have a write-protect detection */
};

&primary_flash {
	/* Specify flash chip to expect */
	compatible = "s25fl512s";
	/* Partition for 256k erase size */
	partition@qspi-u-boot-spl {
		label = "qspi-u-boot-spl";
		reg = <0x0 0x40000>;
	};
	partition@qspi-u-boot-img {
		label = "qspi-u-boot-img";
		reg = <0x40000 0xC0000>;
	};
	partition@qspi-u-boot-env {
		label = "qspi-u-boot-env";
		reg = <0x100000 0x40000>;
	};
	partition@qspi-device-tree {
		label = "qspi-device-tree";
		reg = <0x140000 0x40000>;
	};
	partition@qspi-linux {
		label = "qspi-linux";
		reg = <0x180000 0x400000>;
	};
	partition@qspi-rootfs {
		label = "qspi-rootfs";
		reg = <0x580000 0x3a80000>;
	};
};

&usb {
	xlnx,phy-reset-gpio = <&gpio 49 0>;
	dr_mode = "host";
};

&clkc {
	ps-clk-frequency = <32000000>;
};

&eth {
	xlnx,enet-reset = "MIO 50";
	phy-mode = "rgmii-id";
	phy-handle = <&phy3>;
	phy3: phy@3 {
		/* compatible = "micrel,..."; */
		device_type = "ethernet-phy";
		reg = <0x3>;
	};
};

/ {
	/* VREF for DDR RAM */
	reg_ddr_vref: regulator_ddr_vref {
		compatible = "regulator-fixed";
		regulator-name = "ddr_vref";
		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <750000>;
		gpio = <&gpio 60 0>;
		/* Active low is default */
		regulator-always-on;
		regulator-boot-on;
	};

	fpga_axi: fpga_axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		ps7_i2c_0: ps7-i2c@e0004000 {
			bus-id = <0>;
			clocks = <&clkc 38>;
			compatible = "cdns,i2c-r1p10", "xlnx,ps7-i2c-1.00.a";
			clock-frequency = <100000>;
			interrupt-parent = <&gic>;
			interrupts = <0 25 4>;
			reg = <0xe0004000 0x1000>;
			xlnx,has-interrupt = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* IO Voltage controller */
			ltc3562: ltc3562@65 {
				compatible = "ltc3562";
				reg = <0x65>; /* 0b1100101 */
				regulators {
					R400B_reg: R400B {
						regulator-name = "R400B";
						regulator-min-microvolt = <600000>;
						regulator-max-microvolt = <3300000>;
					};
					R600B_reg: R600B {
						regulator-name = "R600B";
						regulator-min-microvolt = <600000>;
						regulator-max-microvolt = <3300000>;
						ltc3562-default-voltage = <3300000>;
						regulator-boot-on;
						regulator-always-on;
					};
					R400A_reg: R400A {
						regulator-name = "R400A";
						regulator-min-microvolt = <425000>;
						regulator-max-microvolt = <8000000>;
						ltc3562-A-r1 = <1>;
						ltc3562-A-r2 = <1>;
					};
					R600A_reg: R600A {
						regulator-name = "R600A";
						regulator-min-microvolt = <425000>;
						regulator-max-microvolt = <1800000>;
						ltc3562-A-r1 = <316>;
						ltc3562-A-r2 = <100>;
						ltc3562-default-voltage = <1800000>;
						regulator-boot-on;
						regulator-always-on;
					};
				};
			};
		};
	};

	leds: leds {
		compatible = "gpio-leds";
		alive {
			label = "alive:green";
			gpios = <&gpio 0 1>; /* Active low */
			linux,default-trigger = "heartbeat";
		};
	};
};
